<div class="jumbotron text-center  mt-2">
  <h3>Welcome to the <br>Hack-IT-chen</h3>
  <h4></h4>
</div>

<div class="row">
  <div class="col-md-0 col-lg-1"></div>
  <div class="col-s-4 col-m-6 col-lg-10 mt-2 m-4">
    <div class="card rounded"> 
      <div class="card-top">
        <h2 class="text-center">Welcome to the Hack-IT-Chen</h2>
        <div class="card-text p-2">
         <p>
          To Add your own text to this app please follow the instrucitons below:

          There is an example file for the structure of the recipes located in the folder: `source/recipes/example-recipe.html.erb.`
          The only thing that needs to be edited is the Frontmatter thats the bit between the two sets of ( `---` ).
          
          Something to consider with the images is they need be to a maximum of 400px X 400px; as this will help keep the layout on the page consistent.
          The Images need to be saved in `source/images/FOO.jpg` replace 'FOO' with the name of the food.
          If you found the recipe online, please provide a link to the original recipe.
          
          <small>Note If you dont know how to code no problem you can submit a recipe to the forum located <a href="https://discourse.leighhack.org/c/hackitchen/13/none">here</a>
          and one of the Hackspace Team will enter it on the app.</small>
         </p>
        </div>
      </div>
    </div>
  </div>
 <div class="col-md-0 col-lg-1"></div>
</div>
